.amTitle {
  color: white;
  text-align: center;
  font-size: 6vw;
  margin-top: 5vw;
}
.amText {
  color: white;
  text-align: center;
  font-size: 2vw;
  margin-top: 5vw;
}
.highlightText {
  color: var(--primary);
}
.amContainer {
  margin-top: 80vw;
  height: 50vw;
  width: 100%;
  /* outline: 1px solid blue; */
}
.sectionTitle {
  margin: 3vw;
  color: white;
  text-align: center;
  font-size: 2vw;
}
