:root {
  --primary: #15c06d;
  --solid: #262626;
}
.nav {
  margin-left: 1em;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin-right: 8em;
}
li a {
  display: inline-block;
  position: relative;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 1.5em;
}
a:after {
  content: "";
  position: absolute;
  width: 40%;
  transform: scaleX(0);
  left: 25%;
  height: 3px;
  top: 2em;
  background-color: var(--primary);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}
